<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Laikrodukas</title>
    <link type="text/css" rel="stylesheet" href="style.css"></link>
</head>

<body ng-app="clockApp" ng-init="en=true; change=false">

    <div ng-show='en' ng-controller="DataControllerEn as dataen" ng-init="init();" >
        <show-big-clock-en ng-click="change=!change"></show-big-clock-en>
        <button ng-show="change" ng-click="dataen.changeClass()">Max/Min</button>
    </div>

    <div ng-show="lt" ng-controller="DataController as data" ng-init="init();">
        <show-big-clock ng-click="change=!change"></show-big-clock>
        <button ng-show="change" ng-click="data.changeClass()">Max/Min</button>
    </div>

    <div>
        <button>
            <span ng-show="lt" ng-click="en=true; lt=false">En</span>
            <span ng-show="en" ng-click="en=false; lt=true">Lt</span>
        </button>
        
        <div ng-controller="TestController as tests" ng-init="currHours = '1'; currMins = '0'; currSecs = '0'">
            <button ng-init="show=false;" ng-click="show=!show">Test</button>
            <div ng-show="show" >
                <show-test-clock></show-test-clock>
                 <div ng-show="show">
                    <input type="number" ng-model="currHours">
                    <input type="number" ng-model="currMins">
                 </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>

</html>
