<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Laikrodukas</title>
    <link type="text/css" rel="stylesheet" href="style.css"></link>
    <link type="text/css" rel="stylesheet" href="bower_components/ng-picky/src/style.css"></link>
</head>

<body ng-app="clockApp" ng-init="en=true; change=false">

    <div >
        <!--CLOCKS-->
        
        <!--clock english-->
        <clock-en ng-show='en' 
            ng-click="  change=!change;
                        sets=false;
                        color=false;
                        picker=false;
                        lang=false" 
            ng-init="   init();
                        timeEn.showClassName='active'; 
                        timeEn.hiddenClassName='passive';
                        change=false;
                        picker=false">
        </clock-en>
        <!--clock lithuanian-->
        <clock-lt ng-show="lt"
            ng-click="  change=!change;
                        sets=false;
                        color=false;
                        picker=false;
                        lang=false" 
            ng-init="   init();
                        timeLt.showClassName='active'; 
                        timeLt.hiddenClassName='passive';
                        change=false;
                        picker=false">
        </clock-lt>
    </div>

    <div>
        <!--BUTTONS/SETTINGS -->
        
        <!--1. Min/max-->
        <button ng-show="change && en" ng-click="timeEn.changeClass(); change=!change">Max/Min</button>
        <button ng-show="change && lt" ng-click="timeLt.changeClass(); change=!change">Max/Min</button>
        
        <!--2. Settings-->
        <button ng-show="change" ng-init="en=true">
            <span ng-show="lt" ng-click="sets=!sets; color=false; lang=false; picker=false">Nustatymai</span>
            <span ng-show="en" ng-click="sets=!sets; color=false; lang=false; picker=false">Settings</span>
        </button>
        
        <!--3. Back -->
        <button ng-show="change" ng-init="en=true">
            <span ng-show="lt" ng-click="change=!change; sets=false">Laikrodis</span>
            <span ng-show="en" ng-click="change=!change; sets=false">ClockView</span>
        </button>
        
        <!--2.1. Language -->
        <button ng-show="change && sets">
            <span ng-show="lt" ng-click="lang=!lang; color=false">Kalba</span>
            <span ng-show="en" ng-click="lang=!lang; color=false">Language</span>
        </button>
        
        <!--2.1.1. Language > pick language button-->
        <button ng-show="change && sets && lang">
            <span ng-show="lt" ng-click="en=true; lt=false; change=!change">En</span>
            <span ng-show="en" ng-click="en=false; lt=true; change=!change">Lt</span>
        </button>
        
        <!--2.2. Colors -->
        <button ng-show="change && sets">
            <span ng-show="lt" ng-click="color=!color; lang=false">Spalvos</span>
            <span ng-show="en" ng-click="color=!color; lang=false">Color</span>
        </button>
        
        <!--2.2.1. Colors > background-->
        <button ng-show="change && sets && color">
            <span ng-show="lt" ng-click="picker=!picker">Fonas</span>
            <span ng-show="en" ng-click="picker=!picker">Background</span>
        </button>
        
        <!--2.2.2. Colors > font-->
        <button ng-show="change && sets && color">
            <span ng-show="lt" ng-click="picker=!picker">Raidės</span>
            <span ng-show="en" ng-click="picker=!picker">Font</span>
        </button>
        
        <!--2.2.1.1 && 2.2.2.1. Colors > background(font)> color - picker-->
        <div ng-show="picker">
        <div ng-show="picker" class='preview' style='color:{{color | toHex}};'></div>
        <picker ng-show="picker" color='color'></picker>
        </div>
        
        <!--HOURS AND MINS TEST ENVIRONMENT -->
        <div ng-show="change" ng-init="currHours = '1'; currMins = '0'; currSecs = '0'">
            <button ng-init="show=false;" ng-click="show=!show">Test</button>
            <div ng-show="show" >
                <clock-lt-test></clock-lt-test>
                    <input type="number" ng-model="currHours">
                    <input type="number" ng-model="currMins">
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="controllers/time-en-controller.js"></script>
<script type="text/javascript" src="controllers/time-lt-controller.js"></script>
<script type="text/javascript" src="controllers/time-lt-test-controller.js"></script>
<script type="text/javascript" src="directives/clock-en-directive.js"></script>
<script type="text/javascript" src="directives/clock-lt-directive.js"></script>
<script type="text/javascript" src="directives/clock-lt-test-directive.js"></script>
<script type="text/javascript" src="services/data-en-service.js"></script>
<script type="text/javascript" src="services/data-lt-service.js"></script>
<script type="text/javascript" src="services/change-class-factory.js"></script>
<script type="text/javascript" src="bower_components/ng-picky/src/ng-picky.js"></script>

</body>

</html>
