body {
    font-family: 'Helvetica Neue',sans-serif;
}

.clck-bgr {
    text-align: center;
    max-width: 300px;
}

ul {
    max-width: 512px;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.7em; 
    margin: 5px;
    
}
ul li    {
    list-style: none;
    display: inline-block;
    padding: 0 2px;
    font-weight: bold;
}

button, input {
	background: #fff;
	margin: 5px;
	padding:5px 10px;
	max-width: 110px;
	color:#623F1D;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid grey;
}

.active   { color: #000; font-size: 1.4em}
.passive  { color: #777; font-size: 0.6em}

.visible   { visibility: visible; font-size: 2em}
.hidden  { display: none; font-size: 0.6em}

.digital {
    font-size: 24px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
