body {
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
}

#clck-bgr {
    text-align: center;
    max-width: 300px;
}

ul {
    max-width: 512px;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.7em; 
    margin: 5px;
}
ul li    {
    list-style: none;
    display: inline-block;
    padding: 0 2px;
    font-weight: bold;
}

.active   { color: #000; font-size: 1.4em}
.passive  { color: #777; font-size: 0.6em}

.visible   { visibility: visible; font-size: 1.4em}
.hidden  { display: none; font-size: 0.6em}

.digital {
    font-family: ‘Courier New’, Courier, monospace;
    font-size: 24px;
}
