<div class="clck-bgr">
<ul>
    <!--shows PO-->
    <li ng-class="clock.currMins >= 5 && clock.currMins < 25 ||
                    clock.currMins >= 35 && clock.currMins < 40 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.after}}</li>
    
    <!--shows Be                    -->
    <li ng-class="clock.currMins >= 25 && clock.currMins < 30 ||
                    clock.currMins >= 40 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.till}}</li>
    
    <!--shows PUSES                    -->
    <li ng-class="clock.currMins >= 35 && clock.currMins < 40 ?
                        clock.showClassName : clock.hiddenClassName ">{{clock.datalt.afterhalf}}</li>
    
    <!--shows PENKIU                    -->
    <li ng-class="clock.currMins >= 25 && clock.currMins < 30 ||
                    clock.currMins >=  55 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.fivetill}}</li>
    
    <!--shows DESIMT                    -->
    <li ng-class="clock.currMins >= 50 && clock.currMins < 55 ||
                    clock.currMins >= 10 && clock.currMins < 15 && clock.currHours == 10 ||
                    clock.currMins >= 10 && clock.currMins < 15 && clock.currHours == 22  ? 
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.ten}}</li>
    
    <!--shows PENKIOLIKOS                    -->
    <li ng-class="clock.currMins >= 45 && clock.currMins < 50 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.quarter}}</li>
    
    <!--shows DVIDESIMT                    -->
    <li ng-class="clock.currMins >= 40 && clock.currMins < 45 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.twenty}}</li>
    
    <!--shows PUSE                    -->
    <li ng-class="clock.currMins >= 25 && clock.currMins < 35 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.half}}</li>
    
    <!--shows HOURSPASTHALF - hours+1 -->
    <li ng-show="item.value!= 13" 
        ng-repeat="item in clock.datalt.hoursPastHalf" 
        ng-class="clock.currMins >= 40 && item.value-1 == clock.currHours ||
                    clock.currMins >= 40 && item.value-1 == clock.currHours-12 ||
                    clock.currMins < 5 && item.value == clock.currHours ||
                    clock.currMins < 5 && item.value == clock.currHours - 12?
                        clock.showClassName : clock.hiddenClassName">{{item.name }}</li>
    
    <!--shows HOURSPASTZERO - current hours                    -->
    <li ng-show="item.value!= 13" 
        ng-repeat="item in clock.datalt.hoursPastZero" 
        ng-class="clock.currMins >= 5 && clock.currMins < 25 && item.value == clock.currHours ||
                    clock.currMins >= 5 && clock.currMins < 25 && item.value == clock.currHours -12 ||
                    clock.currMins >= 25 && clock.currMins < 40 && item.value-1 == clock.currHours ||
                    clock.currMins >= 25 && clock.currMins < 40 && item.value-1 == clock.currHours - 12 ?
                        clock.showClassName : clock.hiddenClassName">{{item.name }}</li>
    
    <!--shows DESIMT                    -->
    <li ng-class="clock.currMins > 9 && clock.currMins < 15 ||
                    clock.currHours == 10 && clock.currMins >= 0 && clock.currMins < 25 ||
                    clock.currHours - 12 == 10 && clock.currMins >= 0 && clock.currMins < 25 ||
                    clock.currMins >= 25 && clock.currMins < 60 && clock.currHours == 9  ||
                    clock.currMins >= 25 && clock.currMins < 60 && clock.currHours - 12 == 9 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.tenHours}}</li>
    
    <!--shows PENKIOS-->
    <li ng-class="clock.currMins < 10 && clock.currHours == 5  ||
                    clock.currMins < 10 && clock.currHours - 12 == 5 ||
                    clock.currMins > 35 && clock.currHours == 5 - 1 ||
                    clock.currMins > 35 && clock.currHours - 12 == 5 - 1 ||
                    clock.currMins >=5 && clock.currMins < 10 || 
                    clock.currMins >= 35 && clock.currMins < 40 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.five}}</li>
    
    <!--shows PENKIOLIKA-->
    <li ng-class="clock.currMins >= 15 && clock.currMins < 20 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.fifteen}}</li>
    
    <!--shows DVIDESIMT                    -->
    <li ng-class="clock.currMins >= 20 && clock.currMins < 25 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.twenty}}</li>
    
    <!--shows VALANDA                    -->
    <li ng-class="clock.currMins < 5 && clock.currHours == 1 ||
                    clock.currMins < 5 && clock.currHours - 12 == 1 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.hour}}</li>
    
    <!--shows VALANDOS                    -->
    <li ng-class="clock.currMins < 5 && clock.currHours > 1 && clock.currHours <= 9 ||
                    clock.currMins < 5 && clock.currHours > 13 && clock.currHours <= 21 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.hours}}</li>
    
    <!--shows VALANDU                    -->
    <li ng-class="clock.currMins < 5 && clock.currHours > 9 && clock.currHours < 13 ||
                    clock.currMins < 5 && clock.currHours > 21 ?
                        clock.showClassName : clock.hiddenClassName">{{clock.datalt.morehour}}</li>
    
    <!--shows DIGITAL CLOCK -->                    
    <ul class="digital">
        <li>{{clock.currHours}}:{{clock.currMins}}:{{clock.currSecs}}</li>
    </ul>
</ul>
</div>

