<!--BUTTONS/SETTINGS -->
    
<!--1. CLOCK Min/max-->
<button ng-show="change">
    <span ng-show="lt" ng-click="timeLt.changeClass(); change=!change">Max/Min</span>
    <span ng-show="en" ng-click="timeEn.changeClass(); change=!change">Max/Min</span>
</button>

<!--2. Settings-->
<button ng-show="change" ng-init="en=true" ng-click="sets=!sets; color=false; lang=false; picker=false">
    <span ng-show="lt">Nustatymai</span>
    <span ng-show="en">Settings</span>
</button>

<!--3. Back -->
<button ng-show="change" ng-init="en=true" ng-click="change=!change; sets=false">
    <span ng-show="lt">Laikrodis</span>
    <span ng-show="en">ClockView</span>
</button>

<!--3.1. Language -->
<button ng-show="change && sets" ng-click="lang=!lang; color=false">
    <span ng-show="lt">Kalba</span>
    <span ng-show="en">Language</span>
</button>

<!--2.1.1. Language > pick language button-->
<button ng-show="change && sets && lang">
    <span ng-show="lt" ng-click="en=true; lt=false; change=!change">En</span>
    <span ng-show="en" ng-click="en=false; lt=true; change=!change">Lt</span>
</button>

<!--2.2. Colors -->
<button ng-show="change && sets" ng-click="color=!color; lang=false">
    <span ng-show="lt">Spalvos</span>
    <span ng-show="en">Color</span>
</button>

<!--2.2.1. Colors > background-->
<button ng-show="change && sets && color" ng-click="picker=!picker">
    <span ng-show="lt">Fonas</span>
    <span ng-show="en">Background</span>
</button>

<!--2.2.2. Colors > font-->
<button ng-show="change && sets && color" ng-click="picker=!picker">
    <span ng-show="lt">Raidės</span>
    <span ng-show="en">Font</span>
</button>

<!--2.2.1.1 && 2.2.2.1. Colors > background(font)> color - picker-->
<div ng-show="picker" class='preview' style='color:{{color | toHex}};'></div>
<picker ng-show="picker" color='color'></picker>

